body {
    color: white;
    background-color: rgb(27, 27, 27);
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 150%;
}
input {
    text-align: center;
    width: 15%;
    height: 15%;
    font-size: 8vw;
    background-color: white;
}