body {
    color: white;
    background-color: rgb(27, 27, 27);
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 150%;
}
input {
    text-align: center;
    width: 12%;
    height: 12%;
    font-size: 5vw;
    background-color: white;
}